<div id="menu-body">
    <div class="triangulo-equilatero-bottom"></div>
    <div id="menu-container">
        <div class="menu-item" >
            <a *ngFor="let item of items" [routerLink]="item.url" (click)="setApp(item.url)">
                <div class="item-icon">
                    <img src="{{item.route}}" alt="">
                </div>
                <div class="item-title">
                    <p>
                        {{item.title}}
                    </p>
                </div>
            </a>
        </div>
    </div>

</div>