<div id="main-body">
    <router-outlet></router-outlet>
    <div id="main-container">
        <div class="main-image">
            <img src="./assets/profile.jpeg" alt="">
        </div>
        <div class="main-card">
            <div class="main-card-header">
                <h1>Informacion Personal</h1>
            </div>
            <div class="main-card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti hic omnis rem quam dignissimos necessitatibus ipsum, aut ex nisi dolore sunt, accusantium, recusandae quibusdam a fugiat ratione quasi eius laudantium?
            </div>
            <div class="main-card-footer">

            </div>
        </div>
    </div>
</div>